html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Optima', Helvetica, sans-serif;
    background-image: var(--default-page-background-light);
    background-repeat: repeat;
}
header, footer {
    background-image: var(--default-page-background-dark);
    background-repeat: repeat;
    color: var(--font-color-light);
}
header {
    margin-bottom: 20px;
}
main {
    flex: 1;
    color: var(--font-color-dark);
    display: flex;

    > section {
        padding: 0;
        flex: 1;
    }
}
footer {
    margin-top: 20px;
}

.page-width {
    max-width: var(--default-page-width);
    width: 100%;
    margin: 0 auto;
}

#gridster-header, #gridster-footer {
    p {
        margin: 0;
        padding: 0;
    }
    > div.gs-w {
        height: auto;
    }
}
.dot-spacer {
    padding: 0 20px;
}

/**
 * Header
 */
#gridster-header {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .gs-w {
        position: initial;

        &:first-child {
            margin-right: auto;
        }
        &:last-child {
            width: fit-content;
        }
    }
    a {
        display: flex;
    }
    img {
        max-height: 120px;
    }
}
#header-company {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0 20px;
    align-items: center;
}
#header-company-name {
    grid-row: span 2;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 4.5rem;
}
#header-company-first,
#header-company-secound {
    grid-column: 2;
}
#header-company-first {
    font-size: 1.8rem;
}

/**
 * Navigation
 */
nav {
    display: flex;
    align-items: center;

    label {
        height: 100%;
    }

    ul {
        height: var(--navbar-height);
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a, span, .sub-items label {
        text-decoration: none;
        color: var(--link-text-normal-color-font);
        background: var(--link-text-normal-color-back);
        font-size: var(--navbar-font-size);
        font-weight: bold;
        width: 100%;
        height: 100%;
        line-height: var(--navbar-height);

        &:active, &:hover {
            color: var(--link-text-active-color-font);
            background: var(--link-text-active-color-back);
            cursor: pointer;
        }
    }
    li.sub-items > span {
        &:active, &:hover {
            cursor: initial;
        }
    }

    .sub-items {
        span {
            width: calc( 100% - var(--navbar-item-symbol-width) );
        }
        label {
            width: var(--navbar-item-symbol-width);
        }
    }
}
.links-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: none;

    li {
        text-align: center;
        position: relative;
        display: flex;
    }
    > ul {
        display: flex;
        flex-direction: row;
        height: 100%;
        gap: 10px;
        flex: 1;

        > li {
            min-width: var(--navbar-item-min-width);
            display: flex;
            align-items: center;
            justify-content: center;

            > a {
                border-radius: var(--navbar-item-radius) var(--navbar-item-radius) 0 0;
            }
            &.sub-items > span {
                border-radius: var(--navbar-item-radius) 0 0 0;
            }
            &.sub-items > label {
                border-radius: 0 var(--navbar-item-radius) 0 0;
            }

            input[type="checkbox"] {
                display: none;

                &:checked ~ ul {
                    display: flex;
                    height: fit-content;
                }
                &:checked ~ label > span:before {
                    content: "\f068";
                }
            }

            ul {
                display: none;
                position: absolute;
                top: var(--navbar-height);
                right: 0;
                background: var(--default-page-background-dark);
                box-shadow: 0 0 10px 5px var(--navbar-mobile-shadow);
                z-index: 10;
                flex-direction: column;
                min-width: 100%;

                a {
                    padding: 0 20px;
                }
            }
        }
        li.sub-items {
            min-width: calc( var(--navbar-item-min-width) + var(--navbar-item-symbol-width) );
        }
    }
}
#sidebar-active, #btn-sidebar-open, #btn-sidebar-close {
    display: none;
}
.icons:before {
    font-family: "Font Awesome 6 Free";
    font-size: 1.5rem;
    font-style: normal;
}
.sub-items {
    label > span {
        background: transparent;

        &:before {
            content: "\2b";
        }
    }
}
#icon-sidebar-open:before {
    content: "\f0c9";
}
#icon-sidebar-close:before {
    content: "\f00d";
}
#home-link {
    margin-right: auto;
}


/**
 * Content
 */

/* Full-Pages */
.services #gridster-content {
    height: auto !important;
    display: grid;
    grid-template-columns: repeat(8, 1fr);  /* TODO :: cols must be configurable */
    grid-auto-rows: min-content;
    gap: 0;

    div.gs-w {
        position: initial;
        grid-column: var(--data-col) / span var(--data-sizex);
        grid-row: var(--data-row) / span var(--data-sizey);
        padding: 10px;

        img {
            max-height: 200px;
            box-shadow: 0 0 10px 5px var(--services-first-image-shadow);
            border-radius: var(--services-first-image-radius);
        }
    }
    [data-content-type="block"],
    [data-content-type="gallery"] {
        height: initial;
        width: initial;
    }
}

#gridster-content {
    p {
        margin: 0;
    }
    a {
        color: var(--link-text-normal-color-font);
        background: var(--link-text-normal-color-back);
        padding: 0 5px 2px 5px;

        &:hover, &:active {
            color: var(--link-text-active-color-font);
            background: var(--link-text-active-color-back)
        }
    }
}

#page-kontakt, #page-datenschutz, #page-impressum, #page-referenzen {
    div.gs-w {
        min-height: calc( var(--data-sizey) * var(--default-block-height) );
        height: initial;
        left: initial;
        top: initial;
        display: contents;
    }
    #gridster-content {
        position: initial !important;
        height: auto !important;
    }
}

#page-impressum {
    #gridster-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        div.gs-w {
            position: initial;
            display: grid;
        }
        div.gs-w:last-child {
            grid-column: span 2;
        }
    }
    #disclaimer > p {
        margin: 0 0 20px 0;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

#vita-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;

    article {
        background: var(--vita-artice-background);
        border: 1px solid var(--vita-artice-border-color)
        color: var(--vita-artice-font-color);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px var(--vita-artice-shadow);

        h2 {
            font-weight: bold;
            margin: 0 0 15px 0;
        }
    }
}
.desktop-block {
    display: block;
}

/**
 * Gallery-Types
 */
.image-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax( calc( var(--default-page-width) / var(--images-per-line) - ((var(--images-per-line) - 1) * 20px) ) , 1fr));
    justify-content: center;
    background: var(--gallery-grid-background);
    box-shadow: 0 0 10px var(--gallery-grid-shadow);
    padding: 10px;

    picture {
        text-align: center;
        padding: 10px;

        > * {
            max-width: 100%;
        }
    }
}
.image-slider-css {
    height: var(--slider-height);
    position: relative;
    overflow: hidden;
    padding: 10px;
    width: 95%;

    &:before, &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100px;
        pointer-events: none;
        z-index: 10;
        background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, var(--gallery-slider-css-shadow) 100%);
    }
    &:after {
        right: 0;
        left: auto;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, var(--gallery-slider-css-shadow) 100%);
    }
    &:hover .image-track {
        animation-play-state: paused;
    }

    .image-track {
        display: flex;
        gap: 10px;
        align-items: center;
        animation: scroll infinite linear var(--slider-speed, 10s);
        flex-direction: var(--slider-direction, left) == "left" ? "row" : "row-reverse";
    }

    picture {
        position: relative;
        flex-shrink: 0;
        height: 100%;
        transition: transform 0.3s ease-in-out;

        &:hover img {
            transform: scale(1.3);
        }
    }
    img {
        height: 100%;
        display: block;
        object-fit: cover;
    }
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100%));
    }
}

/**
 * Footer
 */
#gridster-footer {
    height: 100px;
    display: flex;
    align-items: center;

    > div:last-child a {
        text-decoration: none;
        min-width: 120px;
        text-align: center;
        display: inline-block;
        padding: 10px;
        margin: 0 5px;
        color: var(--link-normal-color-font);
        background: var(--link-normal-color-back);

        &:hover, &:active {
            color: var(--link-active-color-font);
            background: var(--link-active-color-back);
            font-weight: bold;
        }
    }
    img {
        max-height: 100px;
    }
    .dot-spacer {
        padding: 0;
    }
}


/**
 * under construction
 */
#construction-container {
    height: inherit;
    position: relative;
 }
#construction-container:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    z-index: 10;
    background-image: repeating-linear-gradient(-45deg,
                          var(--construction-primary-color),
                          var(--construction-primary-color) 50px,
                          var(--construction-secondary-color) 50px,
                          var(--construction-secondary-color) 100px
                      );
}
#construction-container .board {
    font-size: 3rem;
    padding: 0.5em 1em;
    background: var(--construction-secondary-color);
    border-radius: 5px;
    color: var(--font-color-light);
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%) rotate(calc(-1 * var(--construction-deg)));
}
#construction-container .board:before {
    content: "";
    position: absolute;
    top: -85px;
    height: 85px;
    display: block;
    left: 30px;
    right: 30px;
    transform: skew(calc(-1 * var(--construction-deg)));
    border: dotted var(--construction-primary-color);
    border-width: 0 8px;
    transform-origin: bottom left;
    padding-bottom: 30px;
}
#construction-container .board h1 {
    margin: 0;
    font-size: inherit;
}
#construction-container .board h1:before,
#construction-container .board h1:after {
    content: "";
    position: absolute;
    top: 16px;
    width: 20px;
    height: 20px;
    background-color: var(--background-color-light);
    border-radius: 50%;
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4);
    z-index: -1;
}
#construction-container .board h1:before {
    left: 24px;
}
#construction-container .board h1:after {
    right: 24px;
}

/**
 * Message-Elemente
 */
#message-block {
    gap: 0;
}
.message-success, .message-warning, .message-error {
    padding: 10px 20px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    position: relative;
    border-left: 5px solid transparent;
}
.message-success:before, .message-warning:before, .message-error:before {
    content: '';
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
}
.message-success {
    color: var(--form-element-success-color);
    background: var(--form-element-success-background);
    border-left-color: var(--form-element-success-color);
}
.message-success:before {
    border-left-color: var(--form-element-success-color);
}
.message-warning {
    color: var(--form-element-warning-color);
    background: var(--form-element-warning-background);
    border-left-color: var(--form-element-warning-color);
}
.message-warning:before {
    border-left-color: var(--form-element-warning-color);
}
.message-error {
    color: var(--form-element-error-color);
    background: var(--form-element-error-background);
    border-left-color: var(--form-element-error-color);
}
.message-error:before {
    border-left-color: var(--form-element-error-color);
}


/**
 * Form-Elements
 */
.form-section * {
    box-sizing: border-box;
}
.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.form-section:not(:last-child) {
    margin-bottom: 30px;
}
.input-field {
    flex: 1 1 calc(50% - 15px);
    min-width: 400px;
    position: relative;
}
.input-field input,
.input-field textarea {
    width: 100%;
    height: 60px;
    border-radius: 6px;
    font-size: 1.1rem;
    padding: 3px 15px;
    border: 2px solid var(--form-element-input-border);
    background: var(--form-element-input-background);
    color: var(--form-element-input-font-color);
    outline: none;
}
.input-field textarea {
    padding: 15px;
    font-size: 1rem;
    height: 400px;
    resize: none;
}
.input-field input::placeholder,
.input-field textarea::placeholder {
    color: var(--form-element-input-placeholder);
    opacity: var(--form-element-input-placeholder-opacity);
}
.input-field label {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: 30px;
    left: 15px;
    transform: translateY(-50%);
    color: var(--form-element-input-label);
    pointer-events: none;
    transition: .3s ease-in-out;
    border-radius: 3px;
    padding: 0 10px;
}
.input-field input[required] + label:after,
.input-field textarea[required] + label:after {
    content: "*";
    color: var(--form-element-required-color);
    margin-left: 5px;
}
.input-field input:focus,
.input-field textarea:focus {
    border-color: var(--form-element-input-border-active);
}
.input-field input:focus ~ label,
.input-field textarea:focus ~ label,
.input-field input:not(:placeholder-shown) ~ label,
.input-field textarea:not(:placeholder-shown) ~ label {
    top: 0;
    font-size: 1rem;
    background: var(--form-element-input-label-focus-background);
    color: var(--form-element-input-label-focus-color);
}
.input-field input:focus:invalid,
.input-field input:not(:placeholder-shown):invalid,
.input-field textarea:focus:invalid,
.input-field textarea:not(:placeholder-shown):invalid {
    border-color: var(--form-element-input-label-fail-background);
}
.input-field input:focus:invalid ~ label,
.input-field input:not(:placeholder-shown):invalid ~ label,
.input-field textarea:focus:invalid ~ label,
.input-field textarea:not(:placeholder-shown):invalid ~ label {
    background: var(--form-element-input-label-fail-background);
    color: var(--form-element-input-label-fail-color);
}
.input-field input[type="checkbox"] {
    width: 30px;
    height: 30px;
}
.input-field input[type="checkbox"] ~ label {
    left: initial;
    top: 16px;
    background: initial;
    color: initial;
}
.form-section .button {
    width: 100%;
    background: var(--form-element-button-background);
    outline: none;
    padding: 20px 20px;
    border-radius: 7px;
    color: var(--form-element-button-color);
    box-shadow: 0 5px 15px var(--form-element-button-shadow);
    font-weight: bold;
    font-size: 1.1rem;
    max-width: 50%;
    min-width: 240px;
}
.form-section .button:hover,
.form-section .button:active {
    background: var(--form-element-button-hover-background);
    color: var(--form-element-button-hover-color);
    box-shadow: 0 5px 15px var(--form-element-button-hover-shadow);
}