:root {
    --construction-deg: 5deg;

    --construction-primary-color: #253753;
    --construction-secondary-color: #A7CCE2;

    --font-color-light: #fff;
    --font-color-dark: #000;

    --background-color-light: #fff;
    --background-color-dark: #000;

    --link-normal-color-font: #fff;
    --link-normal-color-back: transparent;
    --link-active-color-font: #352783;
    --link-active-color-back: #8DC2DB;
    --link-text-normal-color-font: #fff;
    --link-text-normal-color-back: rgba(141, 194, 219, 0.2);
    --link-text-active-color-font: #352783;
    --link-text-active-color-back: #8DC2DB;

    --form-element-input-border: #6B6B6B;
    --form-element-input-border-active: #EC0000;
    --form-element-input-background: #f8f8f8;
    --form-element-input-font-color: #000;
    --form-element-input-placeholder: #7D7D7D;
    --form-element-input-placeholder-opacity: 0;
    --form-element-input-label: #7D7D7D;
    --form-element-input-label-focus-color: #fff;
    --form-element-input-label-focus-background: #6B6B6B;
    --form-element-input-label-fail-color: #ffcdd2;
    --form-element-input-label-fail-background: #c62828;
    --form-element-input-label-fail-border: #c62828;
    --form-element-button-background: #fff;
    --form-element-button-color: #000;
    --form-element-button-shadow: rgba(0, 0, 0, 0.3);
    --form-element-button-hover-background: rgba(0, 0, 0, 0.2);
    --form-element-button-hover-color: #fff;
    --form-element-button-hover-shadow: rgba(0, 0, 0, 0.7);

    --form-element-error-color: #c62828;
    --form-element-error-background: #ffcdd2;
    --form-element-warning-color: #a68b00;
    --form-element-warning-background: #fff0c2;
    --form-element-success-color: #388e3c;
    --form-element-success-background: #c8e6c9;

    --vita-artice-background: #fff;
    --vita-artice-border-color: #000;
    --vita-artice-font-color: #000;
    --vita-artice-shadow: rgba(0, 0, 0, 0.3);

    --navbar-height: 60px;
    --navbar-font-size: 1.2rem;
    --navbar-item-min-width: 150px;
    --navbar-item-symbol-width: 60px;
    --navbar-mobile-shadow: rgba(0, 0, 0, 0.2);
    --navbar-mobile-overlay: rgba(0, 0, 0, 0.4);
    --navbar-item-radius: 3px;

    --services-first-image-shadow: rgba(0, 0, 0, 0.4);
    --services-first-image-radius: 4px;

    --gallery-grid-background: rgba(0, 0, 0, 0.1);
    --gallery-grid-shadow: rgba(0, 0, 0, 0.4);
    --gallery-slider-css-background: rgba(0, 0, 0, 0.1);
    --gallery-slider-css-shadow: rgba(0, 0, 0, 0.6);
}