*.bak
media/*.jpg
media/*.png
media/*.gif
media/*.bmp
media/*.zip
media/*.tgz
media/*.rar
media/*.tar
media/*.7z
media/*.gz
media/*.doc
media/*.docx
media/*.xls
media/*.xlsx
media/*.ppt
media/*.pptx
media/*.csv
media/*.pdf

var/sessions
