<ul>
    <li>
        <a href="<var_config baseurl />admin_index.php?action=dashboard" id="index" title="<lang navigation_index />"><lang navigation_index /></a>
    </li>

    <li>
        <a href="javascript:void(0);" id="cms" title="<lang navigation_cms />" class="has-subitem"><lang navigation_cms /></a>
        <ul>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=cms_blocks" id="cms-blocks" title="<lang navigation_cms_blocks />"><lang navigation_cms_blocks /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=cms_pages" id="cms-pages" title="<lang navigation_cms_pages />"><lang navigation_cms_pages /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=cms_navigation" id="cms-navigation" title="<lang navigation_cms_navigation />"><lang navigation_cms_navigation /></a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:void(0);" id="modules" title="<lang navigation_modules />" class="has-subitem"><lang navigation_modules /></a>
        <ul>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=cms_vita" id="cms-blocks" title="<lang navigation_cms_vita />"><lang navigation_cms_vita /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=cms_chronik" id="cms-blocks" title="<lang navigation_cms_chronik />"><lang navigation_cms_chronik /></a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:void(0);" id="content" title="<lang navigation_content />" class="has-subitem"><lang navigation_content /></a>
        <ul>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=content_files" id="content-files" title="<lang navigation_content_files />"><lang navigation_content_files /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=content_gallery" id="content-gallery" title="<lang navigation_content_gallery />"><lang navigation_content_gallery /></a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:void(0);" id="system" title="<lang navigation_system />" class="has-subitem"><lang navigation_system /></a>
        <ul>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=system_config" id="system-config" title="<lang navigation_system_config />"><lang navigation_system_config /></a>
            </li>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=system_info" id="system-info" title="<lang navigation_system_information />"><lang navigation_system_information /></a>
            </li>
        </ul>
    </li>

    <li>
        <a href="javascript:void(0);" id="admin" title="<lang navigation_admin />" class="has-subitem"><lang navigation_admin /></a>
        <ul>
            <li>
                <a href="<var_config baseurl />admin_index.php?action=accounts" id="admin-accounts" title="<lang navigation_admin_accounts />"><lang navigation_admin_accounts /></a>
            </li>
            <!--
            <li>
                <a href="<var_config baseurl />admin_control.php?action=backup" id="admin-backup" title="<lang navigation_admin_backup />"><lang navigation_admin_backup /></a>
            </li>
            -->
        </ul>
    </li>

    <li>
        <a href="<var_config baseurl />admin_index.php?action=myaccount" id="my-account" title="<lang navigation_account />"><lang navigation_account /></a>
    </li>

    <li>
        <a href="<var_config baseurl />admin_logout.php" id="logout" title="<lang navigation_logout />"><lang navigation_logout /></a>
    </li>
</ul>