html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
header, footer {
    background-image: var(--default-page-background-dark);
    background-repeat: repeat;
    color: var(--font-color-light);
}
header {
    min-height: 150px;
}
main {
    background-image: var(--default-page-background-light);
    background-repeat: repeat;
    flex: 1;
    color: var(--font-color-dark);
    display: flex;
}
footer {
    height: 80px;
}

header > div,
main > section,
footer > div {
    max-width: var(--default-page-width);
    width: 100%;
    margin: 0 auto;
}
main > section {
    padding: 20px 0;
    flex: 1;
}